@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(0, 52, 65);
  text-align: center;
}

header div {
  display: flex;
  flex-direction: row;
  width: 30%;
}

header .logo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 1%;
  margin-right: 1%;
}

header>div>h1 {
  font-size: 1.5rem;
  color: white;
  width: 100%;
  margin-top: 15px;
}

header .navigation {
  display: flex;
  flex-direction: row;
}

header .navigation {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

header .navigation li {
  font-size: 20px;
  list-style: none;
  margin-left: 20px;
  padding: 13px 20px;
}

header .navigation li:hover {
  background: rgba(0, 139, 139, 0.74);
  cursor: pointer;
  border-radius: 6px;
}

header .navigation li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 400;
  border-radius: 3px;
}

.sim--head {
  border: 2px solid rgb(0, 52, 65);
  background: rgb(0, 52, 65);
  width: 60%;
  height: 60px;
  display: block;
  margin-top: 10px;
  /* margin-right: auto; */
  margin-left: 4%;
}

.head--det {
  font-size: 1.8rem;
  color: white;
  margin: 10px 50px;
  display: inline-block;
}

nav {
  font-size: 1rem;
  border-radius: 10px;
  width: 350px;
  height: auto;
  background: rgb(0, 30, 37);
  margin: 0% 50px 20px;
  float: right;
  justify-content: space-around;
  font-weight: bold;
  color: honeydew;
  display: grid;
  grid-template-columns: repeat(2, auto);
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

nav .boxq {
  transition: 0.4s ease;
  height: 100px;
  width: 115px;
  text-align: center;
  margin: 1rem;
  border: 2px solid rgb(236, 236, 236);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

nav .boxq:hover {
  background: rgba(0, 255, 255, 0.589);
  color: white;
}

nav .boxq a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: white;
}

nav .boxq a img {
  margin-bottom: 2px;
}

.icon {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.sim--head-full {
  border: 2px solid rgb(0, 52, 65);
  background: rgb(0, 52, 65);
  font-size: 1.8rem;
  color: white;
  padding: 20px 20px;
}

.full-sc {
  width: 80px;
  height: 45px;
  position: relative;
  top: 14.8%;
  left: 10%;
  cursor: pointer;
}

.full-sc-click {
  width: 80px;
  height: 45px;
  position: absolute;
  top: 3.8%;
  right: 25px;
  cursor: pointer;
}

.ins {
  font-size: 1.5rem;
  position: relative;
  width: 130%;
  top: 15px;
  left: 40px;
  margin-bottom: 40px;
  z-index: 100;
  font-weight: bold;
}

.creator {
  font-size: 1.5rem;
  position: relative;
  width: 140%;
  top: 20px;
  line-height: 40px;
  left: 40px;
  margin-bottom: 40px;
  z-index: 100;
  font-weight: bold;
}

.e-coli-sim {
  width: 700px;
  height: 600px;
  margin-left: 100px;
  margin-top: 50px;
  box-shadow: 3px 3px 5px 2px rgba(200, 200, 200, 0.4),
    -2px -2px 5px 2px rgba(200, 200, 200, 0.4);
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.e-coli-sim-full {
  width: 800px;
  height: 700px;
  margin-top: 50px;
  margin-left: 60px;
  margin-bottom: 30px;
  background: rgb(235, 147, 147);
  box-shadow: 3px 3px 5px 2px rgba(200, 200, 200, 0.4),
    -2px -2px 5px 2px rgba(200, 200, 200, 0.4);
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#values-rpm {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.centrifuge {
  display: none;
  width: 350px;
  height: 250px;
  position: absolute;
  top: 360px;
  left: 500px;
}

.centrifuge-full {
  display: block;
  width: 380px;
  height: 340px;
  position: absolute;
  top: 215px;
  left: 460px;
}

.dhoka {
  display: none;
}

.btn-nor {
  transition: transform 0.5s ease-in;
}

.btn-green {
  fill: green;
  transform: translateX(6px);
  transition: transform 0.5s ease-in;
}

.slider {
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0.52);
  width: 100%;
  height: 8px;
  border-radius: 10px;
  display: block;
  margin-top: 8%;
  margin-bottom: 8%;
  opacity: 0.8;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  background: rgb(0, 116, 116);
  width: 8%;
  border-radius: 60px;
  height: 20px;
}

.forward {
  cursor: not-allowed;
  display: block;
  margin-top: 6%;
  width: 80px;
  height: 40px;
  font-size: 1.3rem;
  border: 2px solid black;
  border-radius: 10px;
  background: rgb(218, 218, 218);
  box-shadow: 2px 2px 2px 1px rgb(212, 212, 212);
}

.slider:hover {
  opacity: 1;
}

.rot {
  animation: rotate 5s linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
    fill: green;
  }

  to {
    transform: rotate(360deg);
    fill: black;
  }
}

.instruct-info {
  font-size: 1.4rem;
}

.rotor-content {
  font-family: "Press Start 2P";
  font-size: 1rem;
  position: absolute;
  top: 450px;
  right: 690px;
  width: 8%;
  line-height: 25px;
}

.test-tube {
  display: none;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 455px;
  left: 132px;
  z-index: -0.9;
  opacity: 0.8;
}

#dna, .switchg {
  display: none;
}

.test-tube-full {
  display: block;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 395px;
  left: 130px;
  z-index: -0.9;
}

.shake-img {
  animation: shake 0.8s;
  animation-iteration-count: 5;
}

.rpm-val,
.instruct {
  font-size: 1.8rem;
  margin-top: 10%;
  margin-bottom: 6%;
  /* margin-left: 4%; */
  /* margin-right: 10%; */
  display: block;
}

.centri-rotor {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 250px;
  left: 400px;
  display: none;
  animation: ghumja 0.2s infinite;
}

@keyframes ghumja {
  0% {
    transform: rotate(30deg);
  }

  10% {
    transform: rotate(60deg);
  }

  20% {
    transform: rotate(90deg);
  }

  30% {
    transform: rotate(120deg);
  }

  40% {
    transform: rotate(150deg);
  }

  50% {
    transform: rotate(180deg);
  }

  60% {
    transform: rotate(240deg);
  }

  70% {
    transform: rotate(270deg);
  }

  80% {
    transform: rotate(300deg);
  }

  90% {
    transform: rotate(330deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .linear-gd{
    fill:linear-gradient(180deg, rgba(239, 217, 140, 0.171) 0%, rgba(250, 255, 0, 0.57) 100%);
    height: 10px;
} */
.btn {
  width: 80px;
  height: 40px;
  font-size: 1.3rem;
  border: 2px solid black;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgb(212, 212, 212);
}

.btnYo {
  display: none;
  width: 120px;
  height: 40px;
  font-size: 1.3rem;
  border: 2px solid black;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgb(212, 212, 212);
}

@keyframes shake {
  0% {
    transform: translate(-0.2px, 0.2px) rotate(0.2deg);
  }

  10% {
    transform: translate(-0.2px, 0.2px) rotate(0deg);
  }

  20% {
    transform: translate(0.2px, 0.2px) rotate(-0.2deg);
  }

  30% {
    transform: translate(-0.2px, 0.2px) rotate(0.2deg);
  }

  40% {
    transform: translate(-0.2px, 0.2px) rotate(0deg);
  }

  50% {
    transform: translate(0.2px, 0.2px) rotate(-0.2deg);
  }

  60% {
    transform: translate(-0.2px, 0.2px) rotate(0.2deg);
  }

  70% {
    transform: translate(-0.2px, 0.2px) rotate(0deg);
  }

  80% {
    transform: translate(0.2px, 0.2px) rotate(-0.2deg);
  }

  100% {
    transform: translate(0.2px, 0.2px) rotate(-0.2deg);
  }
}

.eppen {
  display: none;
  width: 40px;
  height: 100px;
  position: absolute;
  top: 490px;
  left: 335px;
}

.eppen-full {
  display: block;
  width: 50px;
  height: 100px;
  position: absolute;
  top: 430px;
  left: 330px;
}

.discard {
  width: 130px;
  height: 120px;
  position: absolute;
  top: 415px;
  left: 600px;
  display: none;
}

.sup-nen,
#bubbles,
#bubble {
  display: none;
}

.container {
  position: absolute;
  right: 4%;
  top: 20%;
  width: 20%;
}

.container-background {
  position: absolute;
  right: 2%;
  top: 20%;
  width: 25%;
  border: 2px solid rgba(31, 205, 228, 0.207);
  border-radius: 20px;
  background: rgba(31, 205, 228, 0.207);
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 20%), 0 0px 20px 0 rgb(0 0 0 / 19%);
  height: 92vh;
}

.flask {
  height: 200px;
  width: 100px;
  position: absolute;
  top: 360px;
  left: 150px;
}

.pippete, .pippete2 {
  height: 180px;
  width: 60px;
  position: absolute;
  top: 410px;
  left: 500px;
  transform: rotate(90deg);
}

.img2 {
  opacity: 1;
}

#SDS-solution,
#GTE-solution,
#Distilled-solution,
#Iso-solution,
#Nacl-solution,
.dis-water,
#isoFull,
#shifting,
#bchaHua2,
#pallet1,
#dna1,
.iso-beaker, .invt1,
.ISO,
.eppen_part2, .swit {
  display: none;
}

.SDS-flask {
  height: 150px;
  width: 100px;
  position: absolute;
  top: 380px;
  left: 700px;
}

.potAce {
  height: 150px;
  width: 100px;
  position: absolute;
  top: 380px;
  left: 180px;
}

.dis-water {
  height: 150px;
  width: 100px;
  position: absolute;
  top: 380px;
  left: 200px;
}

.iso-beaker {
  height: 150px;
  width: 100px;
  position: absolute;
  top: 380px;
  left: 620px;
}

.eppen_part2 {
  /* display: block; */
  width: 50px;
  height: 100px;
  position: absolute;
  top: 430px;
  left: 460px;
}

.rotor-content1 {
  font-family: 'Press Start 2P';
  font-size: 0.6rem;
  position: absolute;
  color: black;
  top: 190px;
  left: 240px;
  width: 8%;
  line-height: 12px;
}

.hand {
  height: 35px;
  width: 35px;
  position: absolute;
  top: 300px;
  left: 170px;
}

.hand2, .hand3, .hand4 {
  height: 35px;
  width: 35px;
  position: absolute;
  top: 430px;
  left: 530px;
}

.hand5 {
  height: 35px;
  width: 35px;
  position: absolute;
  top: 430px;
  left: 644px;
}
@media screen and (max-width: 450px) {
  .e-coli-sim-full {
  width: 400px;
  height: 500px;
  margin-top: 50px;
  margin-left: 60px;
  margin-bottom: 30px;
  background: rgb(235, 147, 147);
  box-shadow: 3px 3px 5px 2px rgba(200, 200, 200, 0.4),
    -2px -2px 5px 2px rgba(200, 200, 200, 0.4);
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
  .btnOk1 {
    font-size: 1rem;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    cursor: pointer;
    color: black;
    background-color: white;
    padding: 3px 6px;
    border: 1.6px solid black;
  }

  nav {
    display: none;
  }

  header div {
    margin-top: 5px;
    width: 45%;
  }

  header div h1 {
    font-size: 0.9rem;
  }

  .htt-ja {
    height: 10vh;
  }

  header .navigation li {
    font-size: 0.7rem;
  }

  .head--det {
    margin-left: -10px;
    margin-top: 10px;
    font-size: 0.8rem;
  }

  .sim--head {
    display: flex;
    margin-left: 60px;
    width: 70vw;
    height: 4vh;
  }

  .full-sc {
    width: 20px;
    height: 40px;
    position: absolute;
    top: 11%;
    left: 70%;
  }

  .e-coli-sim {
    width: 250px;
    height: 220px;
    margin-left: 60px;
  }

  nav {
    margin-left: -110px;
    float: none;
    margin-left: 50px;
  }

  .btnOk {
    font-size: 1rem;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    cursor: pointer;
    color: black;
    background-color: white;
    padding: 3px 6px;
    border: 1.6px solid black;
  }

  .error {
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    font-size: 1.1rem;
    transform: translate(-50%, -50%);
    width: 80vw;
    color: white;
    border-radius: 10px;
    background-color: rgb(0 65 65);
    padding: 15px;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 20000;
    transition: all 0.5s;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 10000;
    transition: all 0.5s;
  }
}

@media screen and (max-width: 1200px) {
  nav {
    margin: 24px 20px;
  }

  header {
    height: 10vh;
    width: 100%;
    background: rgb(0, 52, 65);
  }

  header .logo {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 1%;
    margin-right: 1%;
  }

  header div {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    justify-content: center;
    /* gap: 1rem; */
  }

  header div h1 {
    font-size: 1rem;
    color: white;
    /* width: 100%; */
    margin-top: 10px;
  }

  header .navigation {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  header .navigation li {
    font-size: 12px;
    list-style: none;
    margin-left: 20px;
    padding: 8px 1px;
  }

  header .navigation li:hover {
    background: rgba(0, 139, 139, 0.74);
    cursor: pointer;
    border-radius: 6px;
  }

  header .navigation li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 400;
    border-radius: 3px;
  }

  nav {
    display: none;
  }

  .head--det {
    font-size: 1.3rem;
  }

  .full-sc {
    width: 20px;
    height: 20px;
  }

  .e-coli-sim {
    width: 350px;
    height: 400px;
  }
}

@media screen and (max-width: 800px) {
  nav {
    margin: 24px 20px;
  }

  header {
    height: 20vh;
    width: 100%;
    background: rgb(0, 52, 65);
  }

  header .logo {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 1%;
    margin-right: 1%;
  }

  header div {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    justify-content: center;
    /* gap: 1rem; */
  }

  header div h1 {
    font-size: 1rem;
    color: white;
    /* width: 100%; */
    margin-top: 10px;
  }

  header .navigation {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  header .navigation li {
    font-size: 12px;
    list-style: none;
    margin-left: 20px;
    padding: 8px 1px;
  }

  header .navigation li:hover {
    background: rgba(0, 139, 139, 0.74);
    cursor: pointer;
    border-radius: 6px;
  }

  header .navigation li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 400;
    border-radius: 3px;
  }

  .head--det {
    font-size: 1.02rem;
    margin-top: -10px;
    margin-left: -20px;
  }

  .full-sc {
    width: 20px;
    height: 20px;
  }

  .sim--head {
    width: 50%;
    margin-top: 5px;
    height: 9vh;
    margin-left: 160px;
  }

  .e-coli-sim {
    width: 350px;
    margin-top: 10px;
    margin-left: 160px;
    height: 230px;
  }

  .sim--head-full {
    height: 4vh;
    padding-top: 30px;
  }

  .full-sc-click {
    height: 8vh;
    top: 10px;
  }

  .e-coli-sim-full {
    width: 410px;
    margin-top: 10px;
    margin-left: 10px;
    height: 300px;
  }

  .centrifuge-full {
    width: 160px;
    height: 150px;
    top: 90px;
    left: 200px;
  }

  .container-background {
    width: 25vw;
    height: 80vh;
  }

  .rpm-val {
    font-size: 0.8rem;
  }

  .hand {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 130px;
    left: 65px;
  }

  .hand2, .hand3, .hand4 {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 180px;
    left: 255px;
  }

  .hand5 {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 180px;
    left: 195px;
  }

  /* .rotor-content1 {
    font-family: 'Press Start 2P';
    font-size: 0.6rem;
    position: absolute;
    color: black;
    top: 190px;
    right: 400px;
    width: 8%;
    line-height: 12px;
  } */

  nav {
    display: none;
  }

  .btn, .forward {
    width: 32px;
    height: 18px;
    font-size: 0.6rem;
    border: 1px solid black;
    border-radius: 5px;
  }

  .btnYo {
    width: 50px;
    height: 18px;
    font-size: 0.6rem;
    border: 1px solid black;
    border-radius: 5px;
  }

  .slider {
    height: 3px;
    border-radius: 10px;
  }

  .slider::-webkit-slider-thumb {
    width: 8%;
    border-radius: 60px;
    height: 10px;
  }

  .instruct, .instruct-info {
    font-size: 0.6rem;
  }

  .instruct {
    margin-bottom: 1px;
  }

  .instruct-info {
    line-height: 5px;
  }

  nav {
    display: none;
  }

  .test-tube-full {
    display: block;
    width: 30px;
    height: 55px;
    position: absolute;
    top: 170px;
    left: 62px;
    z-index: -0.9;
  }

  .eppen-full {
    display: block;
    width: 25px;
    height: 52px;
    position: absolute;
    top: 180px;
    left: 148px;
  }

  .eppen_part2 {
    display: block;
    width: 30px;
    height: 50px;
    position: absolute;
    top: 180px;
    left: 212px;
    display: none;
  }

  .centri-rotor {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 90px;
    left: 180px;
  }

  .discard {
    width: 60px;
    height: 60px;
    top: 177px;
    left: 290px;
  }

  .flask, .SDS-flask {
    height: 100px;
    width: 50px;
    top: 147px;
    left: 60px;
  }

  .SDS-flask, .nacl-flask, .potAce {
    height: 90px;
    width: 50px;
    top: 147px;
    left: 60px;
  }

  .pippete {
    height: 110px;
    width: 60px;
    top: 160px;
    left: 220px;
  }

  .iso-beaker, .dis-water {
    height: 80px;
    width: 40px;
    top: 160px;
    left: 334px;
  }

  .overlay, .error {
    display: none;
  }
}

.btnOk, .btnOk1 {
  font-size: 1rem;
  border-radius: 10%;
  margin-left: auto;
  cursor: pointer;
  display: block;
  color: black;
  background-color: white;
  padding: 3px 6px;
  border: 1.6px solid black;
}

.btnOk1 {
  display: none;
}


.error {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 1.2rem;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  color: white;
  border-radius: 10px;
  background-color: rgb(0 65 65);
  padding: 20px 30px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 20000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 10000;
  transition: all 0.5s;
}